<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468764485148-iv7tja4ffsedod8sdj8j9r68ohvjqam2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468764485148-iv7tja4ffsedod8sdj8j9r68ohvjqam2</string>
	<key>API_KEY</key>
	<string>AIzaSyAdfbWpE0E_ElQ5Q6099-cJ7vyCgTSZYs0</string>
	<key>GCM_SENDER_ID</key>
	<string>468764485148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.distributorAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>freelancemanager-7cfc2</string>
	<key>STORAGE_BUCKET</key>
	<string>freelancemanager-7cfc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468764485148:ios:258d1bb142b1e73b6861d9</string>
</dict>
</plist>